<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/consultas-sscc"></ion-back-button>
    </ion-buttons>
    <ion-title>Consulta</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div [hidden]="primero">
    <ion-row>
      <ion-col size="12">
        <div>
          <ngx-datatable #table class="material striped" [rows]="rows" columnMode="force" [headerHeight]="50"
            [footerHeight]="0" [rowHeight]="50" [scrollbarH]="true">
            <ngx-datatable-column name="Ver" prop="name" [width]="100">
              <ng-template ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"
                let-value="value" let-row="row">
                <ion-button size="small" (click)="onClickRow(row)">Ver</ion-button>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Cod" prop='Cod' [width]="80"></ngx-datatable-column>
            <ngx-datatable-column name="Talla" prop='Talla' [width]="80"></ngx-datatable-column>
            <ngx-datatable-column name="Descri" prop='Descri' [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Lote" prop='Lote' [width]="80"></ngx-datatable-column>
            <ngx-datatable-column name="Master" prop='Master' [width]="80"></ngx-datatable-column>
            <ngx-datatable-column name="Bodega" prop='sscc_Bodega' [width]="100"></ngx-datatable-column>
            <ngx-datatable-column name="Ubicación" prop='Ubica' [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Saldo" prop='Saldo' [width]="100"></ngx-datatable-column>
            <ngx-datatable-column name="Cajitas" prop='cajitas' [width]="100"></ngx-datatable-column>
            <ngx-datatable-column name="Ubic" prop='ubica1' [width]="100"></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-label position="fixed">{{tipo}}</ion-label>
            <ion-input [readonly]="true" [(ngModel)]="totalcant"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">Codigo</ion-label>
            <ion-input [readonly]="true">{{codigo}}</ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">Talla</ion-label>
            <ion-input [readonly]="true">{{talla}}</ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">Descripción</ion-label>
            <ion-input [readonly]="true">{{Descri}}</ion-input>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-label position="fixed">Lote</ion-label>
            <ion-input [readonly]="true">{{Lote}}</ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-label position="fixed">Pallet</ion-label>
            <ion-input [readonly]="true">{{Pallet}}</ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-list>
          <ion-item>
            <ion-label position="fixed" Text="Total">total</ion-label>
            <ion-input [readonly]="true">{{Total}}</ion-input>
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-label position="fixed">Bodega</ion-label>
            <ion-input [readonly]="true">{{bodega}}</ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="9">
        <ion-list>
          <ion-item>
            <ion-label position="fixed">Saldo</ion-label>
            <ion-input [readonly]="true">{{saldo}}</ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="3">
        <ion-item>
          <ion-button (click)="onPopUp()" expand="block" fill="outline">...</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-row>
          <ion-col size="6">
            <ion-label style="margin-left: 12px;">Copias</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-input style="--padding-top: 0px;" type="number" [(ngModel)]="copias" placeholder=""
              autocapitalize="off">
            </ion-input>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="6">
        <ion-row>
          <ion-col size="2">
            <ion-checkbox [(ngModel)]="matric" (ionChange)="onMyBooleanChange()" mode="ios"></ion-checkbox>
          </ion-col>
          <ion-col size="10">
            <ion-label style="margin-left: 12px;">Matricial</ion-label>
          </ion-col>
        </ion-row>
        <!-- <ion-item>
          <ion-label>Imp. Matricial</ion-label>
          <ion-checkbox [(ngModel)]="chkMatricial" slot="start"></ion-checkbox>
        </ion-item> -->
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-item>
            <ion-label type="number" position="fixed" Text="Total">Cantidad</ion-label>
            <ion-input [(ngModel)]="copias"></ion-input>
          </ion-item>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Matricial</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="matric" (ionChange)="onMyBooleanChange()" mode="ios"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="onImprimeBarra()" expand="block" fill="outline">Barras</ion-button>
      </ion-col>
    </ion-row>
    <ion-row [hidden]="muestraImp">
      <ion-col size="12">
        <ion-button (click)="imprime()" expand="block" fill="outline">Imprimir</ion-button>
      </ion-col>
    </ion-row>
    <ion-row [hidden]="muestraImp">
      <ion-col size="12">
        <ion-button expand="block" (click)="imprime2()" fill="outline">Impri2</ion-button>
      </ion-col>
    </ion-row>
  </div>
  <div [hidden]="segundo">
    <ion-row>
      <ion-col size="12">
        <div>
          <ngx-datatable #table class="material striped" [rows]="saldos" columnMode="force" [headerHeight]="50"
            [footerHeight]="0" [rowHeight]="50" [scrollbarH]="true">
            <ngx-datatable-column name="Bodega" prop='Bodega' [flexGrow]="5"></ngx-datatable-column>
            <ngx-datatable-column name="Cajas" prop='Cajas' [flexGrow]="5"></ngx-datatable-column>
            <ngx-datatable-column name="Master" prop='Master' [flexGrow]="5"></ngx-datatable-column>
            <ngx-datatable-column name="bit_codbod" prop='bit_codbod' [flexGrow]="5"></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="salir()" expand="block" fill="outline">Salir</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="Transf()" [hidden]="true" expand="block" fill="outline">Transferir</ion-button>
      </ion-col>
    </ion-row>
  </div>


</ion-content>