<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      SONGA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="forms-validations-content">
  <form class="validations-form" [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-radio-group name="consulta" (ionChange)="OnChangeRad($event)">
            <ion-list-header>
              <ion-label>
                Tipo
              </ion-label>
            </ion-list-header>
        
            <ion-item>
              <ion-label>Embarque</ion-label>
              <ion-radio value="F"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Cierre</ion-label>
              <ion-radio value="C"></ion-radio>
            </ion-item>
  
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-select placeholder="Seleccione Embarque"   formControlName ="emba"  interface="action-sheet">
            <ion-select-option *ngFor="let emb of embarques"   [value]="emb.id">{{emb.descrip}}</ion-select-option>
        </ion-select>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item class="input-item">
            <ion-label>Temperatura  : </ion-label>
            <ion-input  formControlName="temp" type="number" min="-150" max="-0" ></ion-input>
          </ion-item>
          <div class="error-container">
            <ng-container *ngFor="let validation of validations.temp">
              <div class="error-message" *ngIf="validationsForm.get('temp').hasError(validation.type) && (validationsForm.get('temp').dirty || validationsForm.get('temp').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
      </ion-list>
      </ion-col>
    </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-item class="input-item">
        <ion-input type="text" (keydown.enter)="onKeydown($event)" placeholder="sscc" formControlName="sscc" clearInput autocapitalize="off" ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.sscc">
          <div class="error-message" *ngIf="validationsForm.get('sscc').hasError(validation.type) && (validationsForm.get('sscc').dirty || validationsForm.get('sscc').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button class="submit-btn" type="submit" expand="block" fill="outline" [disabled]="!validationsForm.valid">Grabar</ion-button>
    </ion-col>
  </ion-row>

  </form>
  <ion-col size="12">
    <ion-button expand="block" fill="outline" (click)="onClick()" >cargar</ion-button>
  </ion-col>
</ion-content>