@import "theme/mixins/inputs/select-alert";



  ::ng-deep .variant-alert-success {
    @include select-alert();
  
    // Variables should be in a deeper selector or after the mixin include to override default values
    --select-alert-color: var(--ion-color-lightest);
    --select-alert-background: var(--ion-color-primary);
    --select-alert-margin: var(--app-fair-margin);
  
    .alert-message {
      background-color: white;
    }
  }
  
  ::ng-deep .variant-alert-warning {
    @include select-alert();
  
    // Variables should be in a deeper selector or after the mixin include to override default values
    --select-alert-color: var(--ion-color-lightest);
    --select-alert-background: var(--ion-color-warning);
    --select-alert-margin: var(--app-fair-margin);
  
    .alert-message {
      background-color: white;
    }
  }
  
  ::ng-deep .variant-alert-error {
    @include select-alert();
  
    // Variables should be in a deeper selector or after the mixin include to override default values
    --select-alert-color: var(--ion-color-lightest);
    --select-alert-background: var(--ion-color-danger);
    --select-alert-margin: var(--app-fair-margin);
  
    .alert-message {
      background-color: white;
    }
  }