<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Saldos Globales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [hidden]="principal" >
  <ion-row [hidden]="true"  >
    <ion-col size="7">
      <ion-list>
        <ion-item class="input-item">
          <ion-label>Producto  : </ion-label>
          <ion-input  type="text" ></ion-input>
        </ion-item>
    </ion-list>
    </ion-col>
    <ion-col size="3" class="ion-margin-top">
        <ion-button (click)="Buscar_Saldos()" expand="block">
            <ion-icon name="search" size="large"></ion-icon>
        </ion-button>
    </ion-col>
</ion-row>

<ion-row class="ion-margin-top">
  <ion-col size="12">
    <ion-button  expand="block" (click)="Buscar_Saldos()" fill="outline" >Buscar</ion-button>
  </ion-col>
</ion-row>
  <ion-row class="ion-margin-top">
    <ion-col size="12">
      <div>
        <ngx-datatable
            #table
            class="material striped"
            [rows]="rows"
            style="height: 300px;"
            columnMode="force"
            [headerHeight]="50"
            [footerHeight]="0"
            [rowHeight]="50"
            [scrollbarH]="true"
            [scrollbarV]="true"
            [selected]="selected" 
            (select)="onSelect($event)"
            [selectionType]="SelectionType.single">
            <ngx-datatable-column name="CODIGO" prop='CODIGO' [width]="80" ></ngx-datatable-column>
            <ngx-datatable-column name="DESCRIPCION" prop='DESCRIPCION' [width]="120" ></ngx-datatable-column>
            <ngx-datatable-column name="MASTER" prop='MASTER' [width]="100" ></ngx-datatable-column>
            <ngx-datatable-column name="LIBRAS" prop='LIBRAS'[width]="100"  ></ngx-datatable-column>
        </ngx-datatable>
    </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-item class="input-item">
        <ion-label>Total Masters  :  </ion-label>
        <ion-input  [readonly]="true" type="number" >
          {{ total | number:'1.2-2' }}
        </ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button  expand="block"   [disabled]="codigo==''" (click)="siguiente()" fill="outline" >Siguiente</ion-button>
    </ion-col>
  </ion-row>
  
  
  </div>

  <div [hidden]="segundo">
   
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <div>
          <ngx-datatable
              #table
              class="material striped"
              [rows]="rows2"
              style="height: 300px;"
              columnMode="force"
              [headerHeight]="50"
              [footerHeight]="0"
              [rowHeight]="50"
              [scrollbarH]="true"
              [scrollbarV]="true"
              [selected]="selected2" 
              (select)="onSelectvw2($event)"
              [selectionType]="SelectionType.single">
              <ngx-datatable-column name="BOD_CODIGO" prop='BOD_CODIGO'[width]="50" ></ngx-datatable-column>
              <ngx-datatable-column name="BOD_DESCRI" prop='BOD_DESCRI' [width]="120" ></ngx-datatable-column>
              <ngx-datatable-column name="MASTER" prop='MASTER' [width]="80" ></ngx-datatable-column>
              <ngx-datatable-column name="LIBRAS" prop='LIBRAS' [width]="100"></ngx-datatable-column>
          </ngx-datatable>
      </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button  expand="block"   [disabled]="bodega==''" (click)="tercero2()" fill="outline" >Siguiente</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button  expand="block" (click)="atrasPrimero()" fill="outline" >Atras</ion-button>
      </ion-col>
    </ion-row>
    
  </div>

  <div [hidden]="tercero">
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <div>
          <ngx-datatable
              #table
              class="material striped"
              [rows]="rows3"
              style="height: 400px;"
              columnMode="force"
              [headerHeight]="50"
              [footerHeight]="0"
              [rowHeight]="50"
              [scrollbarH]="true"
              [scrollbarV]="true"
              [selected]="selected3" 
              [selectionType]="SelectionType.single">
              <ngx-datatable-column name="PRODUC" prop='PRODUC' [width]="210"></ngx-datatable-column>
              <ngx-datatable-column name="TAL_DESCRI" prop='TAL_DESCRI' [width]="80"></ngx-datatable-column>
              <ngx-datatable-column name="MASTER" prop='MASTER' [width]="100"></ngx-datatable-column>
              <ngx-datatable-column name="LIBRAS" prop='LIBRAS' [width]="100"></ngx-datatable-column>
          </ngx-datatable>
      </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button  expand="block"  [disabled]="bodega==''" (click)="atrasSegundo()" fill="outline" >Atras</ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>