<ion-header>
  <ion-toolbar class="toolbarCustom" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Transacciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <div>
      <ng-container *ngIf="tab === 'Tab1'">
        <div style="height: 190px;">
          <ion-row>
            <ion-col size="6">
              <ion-label class="labelTab1">Tipo</ion-label>
              <ion-item>
                <ion-select interface="action-sheet" disabled={{EnabledCtrTab1}} [(ngModel)]="cmbTipo"
                  (ionChange)="OnChangeTipo($event)">
                  <ion-select-option *ngFor="let data of dataCombosTipo" value={{data.CODIGO}}>{{data.DESCRIPCION}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-label class="labelTab1">Motivo</ion-label>
              <ion-item>
                <ion-select interface="action-sheet" disabled={{EnabledCtrTab1}} [(ngModel)]="cmbMotivo">
                  <ion-select-option *ngFor="let data of dataCombosMotivo" value={{data.CODIGO}}>{{data.DESCRIPCION}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col [hidden]="lbOrigen" size="6">
              <ion-label class="labelTab1">Origen</ion-label>
              <ion-item>
                <ion-select interface="action-sheet" disabled={{EnabledCtrTab1}} [(ngModel)]="cmbOrigen"
                  (ionChange)="OnChangeBodOrigen($event)">
                  <ion-select-option *ngFor="let data of dataCombosOrigen" value={{data.CODIGO}}>{{data.DESCRIPCION}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col [hidden]="lbDestino" size="6">
              <ion-label class="labelTab1">Destino</ion-label>
              <ion-item>
                <ion-select interface="action-sheet" disabled={{EnabledCtrTab1}} [(ngModel)]="cmbDestino"
                  (ionChange)="OnChangeBodDestino($event)">
                  <ion-select-option *ngFor="let data of dataCombosDestino" value={{data.CODIGO}}>{{data.DESCRIPCION}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
      </ng-container>

      <ng-container *ngIf="tab === 'Tab2'">
        <div style="height: 190px;">
          <ion-row>
            <ion-col size="12">
              <ion-item class="input-item">
                <ion-input placeholder="Detalle" disabled={{DisabledControles}} [(ngModel)]="txt_Doc" clearInput
                  autocapitalize="off">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label class="labelTab1">Responsable</ion-label>
              <ion-item>
                <ion-select disabled={{DisabledControles}} interface="action-sheet" [(ngModel)]="cmbReci">
                  <ion-select-option *ngFor="let data of dataCombosReci" value={{data.CODIGO}}>{{data.DESCRIPCION}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-row>
                <ion-col size="3">
                  <ion-checkbox disabled={{EnablechkCuarentena}} [(ngModel)]="chkCuarentena"></ion-checkbox>
                </ion-col>
                <ion-col size="9">
                  <ion-label>Cuarentena</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="5">
              <ion-row>
                <ion-col size="3">
                  <ion-checkbox disabled={{DisabledControles}} [(ngModel)]="chkSaldos"></ion-checkbox>
                </ion-col>
                <ion-col size="9">
                  <ion-label>Saldos</ion-label>
                </ion-col>
              </ion-row>

            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-row>
                <ion-col size="4">
                  <ion-label>Ult.</ion-label>
                </ion-col>
                <ion-col size="8">
                  <ion-input disabled={{DisabledControles}} style="--padding-top: 0px;" [(ngModel)]="txtUltTran"
                    placeholder="" clearInput autocapitalize="off"></ion-input>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
      </ng-container>

      <ng-container *ngIf="tab === 'Tab3'">
        <div style="height: 190px;">
          <ion-row>
            <ion-col size="12">
              <ion-row>
                <ion-col size="3">
                  <ion-label class="labelTab1">Refer.</ion-label>
                </ion-col>
                <ion-col size="9">
                  <ion-input disabled={{DisabledControles}} style="--padding-top: 0px;" [(ngModel)]="txt_referencia"
                    placeholder="" clearInput autocapitalize="off"></ion-input>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label class="labelTab1">MQ.</ion-label>
                <ion-select disabled={{DisabledControles}} interface="action-sheet" [(ngModel)]="cmbMQ">
                  <ion-select-option *ngFor="let data of dataCombosMQ" value={{data.CODIGO}}>{{data.DESCRIPCION}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-radio-group value={{chkConversion}} (ionChange)="OnChangeConversion($event)" #radioGroup>
                <ion-row>
                  <ion-col size="4">
                    <ion-list-header>
                      <ion-label>Conversión</ion-label>
                    </ion-list-header>
                  </ion-col>
                  <ion-col size="4">
                    <ion-item>
                      <ion-col size="5">
                        <ion-radio disabled={{DisabledControles}} value="S"></ion-radio>
                      </ion-col>
                      <ion-col size="7">
                        <ion-label>SI</ion-label>
                      </ion-col>
                    </ion-item>
                    <!-- <ion-item>
                      <ion-label>SI</ion-label>
                      <ion-radio disabled={{DisabledControles}} slot="start" value="S"></ion-radio>
                    </ion-item> -->
                  </ion-col>
                  <ion-col size="4">
                    <ion-item>
                      <ion-col size="5">
                        <ion-radio disabled={{DisabledControles}} value="N"></ion-radio>
                      </ion-col>
                      <ion-col size="7">
                        <ion-label>NO</ion-label>
                      </ion-col>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label>Inventario</ion-label>
                <ion-checkbox disabled={{DisabledControles}} [(ngModel)]="chkInvent" slot="start"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-select disabled={{DisabledControles}} interface="action-sheet" disabled={{EnabledCmbConversion}}
                  value={{cmbTipoConv}} (ionChange)="OnChangeTipoConv($event)">
                  <ion-select-option *ngFor="let data of dataCombosTipoConv" value={{data.CODIGO}}>{{data.DESCRIPCION}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
      </ng-container>

      <ng-container *ngIf="tab === 'Tab4'">
        <div style="height: 190px;">
          <ion-row>
            <ion-col size="3">
              <ion-label class="labelTab1">Movil</ion-label>
            </ion-col>
            <ion-col size="9">
              <div class="ng-autocomplete">
                <ng-autocomplete style="height: 30px;" [data]="dataCombosMovilFilter" [(ngModel)]="SelectMovil"
                  [searchKeyword]="keyword" (selected)='selectEventMovil($event)'
                  (inputCleared)='onEventClearMovil($event)' (closed)='onEventclosedMovil($event)'
                  [itemTemplate]="itemTemplateMovil" (inputChanged)='onChangeMovil($event)'>
                </ng-autocomplete>

                <ng-template #itemTemplateMovil let-item>
                  <a [innerHTML]="item.DESCRIPCION"></a>
                </ng-template>
              </div>
              <!-- <ion-select disabled={{DisabledControles}} interface="action-sheet" [(ngModel)]="cmbMovil"
                  (ionChange)="OnChangeMovil($event)">
                  <ion-select-option *ngFor="let data of dataCombosMovil" value={{data.CODIGO}}>{{data.DESCRIPCION}}
                  </ion-select-option>
                </ion-select> -->
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col size="12">
              <ion-row>
                <ion-col size="4">
                  <ion-label class="labelTab1">Factura.</ion-label>
                </ion-col>
                <ion-col size="8">
                  <ion-input style="--padding-top: 0px;" [(ngModel)]="txtFactura" placeholder="" clearInput
                    autocapitalize="off"></ion-input>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-row>
                <ion-col size="4">
                  <ion-label class="labelTab1">Sellos.</ion-label>
                </ion-col>
                <ion-col size="8">
                  <ion-input style="--padding-top: 0px;" [(ngModel)]="txtSelloMovil" placeholder="" clearInput
                    autocapitalize="off"></ion-input>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3">
              <ion-label class="labelTab1">Chofer</ion-label>
            </ion-col>


            <ion-col size="9">
              <div class="ng-autocomplete">
                <ng-autocomplete [data]="dataCombosChoferFilter" [(ngModel)]="SelectChofer" [searchKeyword]="keyword"
                  (selected)='selectEventChofer($event)' (inputCleared)='onEventClearChofer($event)'
                  (closed)='onEventclosedChofer($event)' [itemTemplate]="itemTemplateChofer"
                  (inputChanged)='onChangeChofer($event)'>
                </ng-autocomplete>

                <ng-template #itemTemplateChofer let-item>
                  <a [innerHTML]="item.DESCRIPCION"></a>
                </ng-template>
              </div>
              <!-- <ion-select disabled={{DisabledControles}} interface="action-sheet" value={{cmbChofer}}>
                <ion-select-option *ngFor="let data of dataCombosChofer" value={{data.CODIGO}}>{{data.DESCRIPCION}}
                </ion-select-option>
              </ion-select> -->
            </ion-col>
          </ion-row>
        </div>
      </ng-container>

      <ion-row>
        <ion-col size="3">
          <ion-button class="buttonTabs" (click)="show('Tab1')" expand="full" fill="outline">Generales</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button class="buttonTabs" (click)="show('Tab2')" expand="full" fill="outline">Obs.</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button class="buttonTabs" (click)="show('Tab3')" expand="full" fill="outline">Especifica</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button class="buttonTabs" (click)="show('Tab4')" expand="full" fill="outline">Movil</ion-button>
        </ion-col>
      </ion-row>
      <!-- <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="show('Tab1')">
          <ion-label>Generales</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="show('Tab2')">
          <ion-label>Obs.</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="show('Tab3')">
          <ion-label>Especifica</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="show('Tab4')">

          <ion-label>Movil</ion-label>
        </ion-tab-button>
      </ion-tab-bar> -->
    </div>


    <ion-row>
      <ion-col [hidden]="ctrlTipoEmpaque" size="12">
        <ion-item class="contentbuttonSSCC">
          <ion-label class="labelSSCC">{{lbl_TipoEmpaque}}</ion-label>
          <ion-button class="buttonSSCC" (click)="OnclickDesEmpaque()" fill="outline">{{btn_DesEmpaque}}</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <ion-item>
          <ion-label class="labelTab1">Ubicac.</ion-label>
          <ion-select interface="action-sheet" [(ngModel)]="cmbUbicacion">
            <ion-select-option *ngFor="let data of dataComboUbicacion" value={{data.CODIGO}}>{{data.DESCRIPCION}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="3">
            <ion-label style="margin-left: 12px;">{{lblTitSSCC}}</ion-label>
          </ion-col>
          <ion-col size="9">
            <ion-input #inputSSCC style="--padding-top: 0px;" (input)='onChangeSSCC($event.target.value)'
              [(ngModel)]="txtScannedValue" clearInput autocapitalize="off">
            </ion-input>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div>
          <!-- <ngx-datatable #table class="bootstrap" [selected]="selected" [selectionType]="SelectionType.single"
            (activate)="onActivate($event)" (select)="onSelect($event)" style="height: 140px;" [rows]="DataGrid"
            columnMode="force" [headerHeight]="40" [footerHeight]="0" [rowHeight]="20" [scrollbarV]="true"
            [scrollbarH]="true">
            <ngx-datatable-column name="sscc" [width]="210" prop='sscc'></ngx-datatable-column>
            <ngx-datatable-column name="num" prop='num'></ngx-datatable-column>
            <ngx-datatable-column name="ssccp" prop='ssccp'></ngx-datatable-column>
            <ngx-datatable-column name="ubic" prop='ubic'></ngx-datatable-column>
          </ngx-datatable> -->
          <ngx-datatable #table class="material striped" [selected]="selected" [selectionType]="SelectionType.single"
            (select)="onSelect($event)" style="height: 140px; " [rows]="DataGrid" columnMode="force" [headerHeight]="40"
            [footerHeight]="0" [rowHeight]="30" [scrollbarV]="true" [scrollbarH]="true">
            <ngx-datatable-column name="sscc" [width]="210" prop='sscc'></ngx-datatable-column>
            <ngx-datatable-column name="num" prop='num'></ngx-datatable-column>
            <ngx-datatable-column name="ssccp" prop='ssccp'></ngx-datatable-column>
            <ngx-datatable-column name="ubic" prop='ubic'></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-item>
          <ion-label>Pallet</ion-label>
          <ion-badge slot="end">{{txt_pallets}}</ion-badge>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-label>T. Mas</ion-label>
          <ion-badge slot="end">{{txt_masters}}</ion-badge>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-label>Caj.</ion-label>
          <ion-badge slot="end">{{txt_Cajas}}</ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-row>
          <ion-col size="6">
            <ion-label style="margin-left: 12px;">Copias</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-input style="--padding-top: 0px;" [(ngModel)]="txt_Copias" placeholder="" autocapitalize="off">
            </ion-input>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="6">
        <ion-row>
          <ion-col size="2">
            <ion-checkbox [(ngModel)]="chkMatricial"></ion-checkbox>
          </ion-col>
          <ion-col size="10">
            <ion-label style="margin-left: 12px;">Imp. Matricial</ion-label>
          </ion-col>
        </ion-row>
        <!-- <ion-item>
          <ion-label>Imp. Matricial</ion-label>
          <ion-checkbox [(ngModel)]="chkMatricial" slot="start"></ion-checkbox>
        </ion-item> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <ion-button class="buttonPrincipalNuevo" expand="full" (click)="OnClickNuevo('')" fill="outline">
          <ion-tab-button style="width: 100%;">
            <ion-icon name="document-outline"></ion-icon>
            <ion-label>Nuevo.</ion-label>
          </ion-tab-button>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button class="buttonPrincipalReimp" disabled={{EnabledbtnReimprimir}} expand="full"
          (click)="OnClickReimprimir()" fill="outline">
          <ion-tab-button style="width: 100%;">
            <ion-icon name="print-outline"></ion-icon>
            <ion-label>Reimp.</ion-label>
          </ion-tab-button>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button class="buttonPrincipalSave" expand="full" (click)="OnClickGrabar()" fill="outline">
          <ion-tab-button style="width: 100%;">
            <ion-icon name="save-outline"></ion-icon>
            <ion-label>Grabar</ion-label>
          </ion-tab-button>
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- <ion-tab-bar style="height: 50px;" slot="bottom">
      <ion-tab-button (click)="OnClickNuevo('')">
        <ion-icon name="document-outline"></ion-icon>
        <ion-label>Nuevo.</ion-label>
      </ion-tab-button>

      <ion-tab-button disabled={{EnabledbtnReimprimir}} (click)="OnClickReimprimir()">
        <ion-icon name="print-outline"></ion-icon>
        <ion-label>Reimp.</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="OnClickGrabar()">
        <ion-icon name="save-outline"></ion-icon>
        <ion-label>Grabar</ion-label>
      </ion-tab-button>
    </ion-tab-bar> -->
  </div>
</ion-content>