<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Req. Etiqueteo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-top:14px;">
    <ion-row>
      <ion-col size="12">
        <!-- <ion-item>
          <ion-label class="labelTab1">B.Origen</ion-label>
          <ion-select interface="action-sheet" [(ngModel)]="cmbOrigen">
            <ion-select-option *ngFor="let data of dataCombosOrigen" value={{data.CODIGO}}>{{data.DESCRIPCION}}
            </ion-select-option>
          </ion-select>
        </ion-item> -->
        <ion-row>
          <ion-col size="3">
            <ion-label style="margin-left: 12px;">B.Origen</ion-label>
          </ion-col>
          <ion-col size="9">
            <ion-select style="--padding-top: 0px;" interface="action-sheet" [(ngModel)]="cmbOrigen">
              <ion-select-option *ngFor="let data of dataCombosOrigen" value={{data.CODIGO}}>{{data.DESCRIPCION}}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="3">
            <ion-label style="margin-left: 12px;">SSCC</ion-label>
          </ion-col>
          <ion-col size="9">
            <ion-input #inputSSCC style="--padding-top: 0px;" (keyup.enter)="onEnterSSCC()"
              [(ngModel)]="txtScannedValue" clearInput autocapitalize="off">
            </ion-input>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div>
          <ngx-datatable #table class="material striped" style="height: 240px; " [rows]="DataGrid" columnMode="force"
            [headerHeight]="40" [footerHeight]="0" [rowHeight]="30" [scrollbarV]="true" [scrollbarH]="true">
            <ngx-datatable-column name="sscc" [width]="210" prop='sscc'></ngx-datatable-column>
            <ngx-datatable-column name="Tipo" [width]="100" prop='Tipo'></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" (click)="OnClickNuevo()">Cancelar</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" (click)="onClickGrabar()">Guardar</ion-button>
      </ion-col>
    </ion-row>

  </div>
</ion-content>