ion-content{
  font-size: 14px;
}

ion-select{
  font-size: 14px;
}

ion-item{
  height: 42px;
}

ion-input{
  box-shadow: 0 4px 6px -6px #222;
}

.labelTab1 {
    margin-left: 15px;
  }
  ion-select {
    width: 100%;
  }
  ion-label {
    width: 100%;
  }
  ion-col {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .contentbuttonSSCC {
    float: right;
  }
  .buttonSSCC {
    width: 200px;
  }
  .labelSSCC {
    padding-right: 10px;
  }
  