@import "theme/mixins/inputs/select-alert";

ion-content{
  font-size: 14px;
}

ion-select{
  font-size: 14px;
}

ion-item{
  height: 42px;
}

ion-input{
  box-shadow: 0 4px 6px -6px #222;
}

.ccssbuttonSave{
  --border-width: 1px;
  --border-color: #239B56;
  --color:white;
  background-color: #239B56;
}

.ccssbuttonNew{
  --border-width: 1px;
--border-color: #AEB6BF;
--color:white;
background-color: #AEB6BF;
}

.labelTab1 {
    margin-left: 15px;
  }
  ion-select {
    width: 100%;
  }
  ion-label {
    width: 100%;
  }
  ion-col {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .contentbuttonSSCC {
    float: right;
  }
  .buttonSSCC {
    width: 200px;
  }
  .labelSSCC {
    padding-right: 10px;
  }
  

  ::ng-deep .variant-alert-success {
    @include select-alert();
  
    // Variables should be in a deeper selector or after the mixin include to override default values
    --select-alert-color: var(--ion-color-lightest);
    --select-alert-background: var(--ion-color-primary);
    --select-alert-margin: var(--app-fair-margin);
  
    .alert-message {
      background-color: white;
    }
  }
  
  ::ng-deep .variant-alert-warning {
    @include select-alert();
  
    // Variables should be in a deeper selector or after the mixin include to override default values
    --select-alert-color: var(--ion-color-lightest);
    --select-alert-background: var(--ion-color-warning);
    --select-alert-margin: var(--app-fair-margin);
  
    .alert-message {
      background-color: white;
    }
  }
  
  ::ng-deep .variant-alert-error {
    @include select-alert();
  
    // Variables should be in a deeper selector or after the mixin include to override default values
    --select-alert-color: var(--ion-color-lightest);
    --select-alert-background: var(--ion-color-danger);
    --select-alert-margin: var(--app-fair-margin);
  
    .alert-message {
      background-color: white;
    }
  }